/////////////////
/////Resets/////
///////////////
@font-face
    font-family: 'Salesforce Sans'
    src: url('../fonts/SalesforceSans-Regular.ttf')

#root
    height: 100%

*
	margin: 0
	padding: 0
	border: none
	border-radius: none

html, body
  background: white
  height: 100%
  font-family: 'Salesforce Sans', 'Open Sans', sans-serif
  color: #333333

input, select, textarea, button, a
	outline: none
	font-family: inherit
	box-sizing: border-box

body
	zoom: 1
	position: relative
	width: 100

a
	color: #3e3e3c
	img
		outline-color: none
	&:hover
		text-decoration: none

p
	font-size: 16px
	line-height: 24px
	font-weight: 300

table, button
  color: #333333

.app
  width: 70%
  margin: 0 auto
  padding-top: 80px

.quip-icon
  .slds-icon_x-small
    width: .8rem
    height: .8rem
  svg
    vertical-align: inherit

.listview-container
  h2
    font-size: 19px
    display: inline
    padding-right: 8px
  .slds-resizable__divider
    height: 100%

table.listview
  font-size: 14px
  margin-top: 8px
  border-right: 1px solid #dddbda
  border-left: 1px solid #dddbda

  td
    padding: 8px
  th a
    padding: 8px

.slds-th__action
  padding: 0
  height: auto

.listview-edit
  position: absolute
  top: 0px
  left: 0.0rem
  border-radius: 0
  border: 0
  z-index: 6000

  .listview-restore
    margin-left: 8px

    svg
      fill: LightGray

  .is-draft
    .slds-icon_container svg
      fill: black

  .slds-form-element__label_edit
    margin: 0

.cell-locked
  svg
    opacity: 0

  &:hover svg
    opacity: 1

.slds-cell-edit
  img
    display: none
  &.cell-comment
    img
      display: inherit
      position: absolute
      top: 0
      right: 0

.listview-toolbar
  margin-bottom: 8px

  button
    border: 1px solid #DDDDDD
    border-radius: 8px
    padding: 4px 8px 4px 8px
    font-size: 14px
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,.10)
    margin-right: 8px

    svg
      vertical-align: middle
      margin-right: 6px
      width: .9rem

    &.button-disabled
      color: #808080
      svg
        fill: #808080

    &.quip-salesforce-button
      color: #3D87F5

      svg
        width: 1rem
        height: 1rem
        fill: #3D87F5